<section>
  <%= render '/shared/visited_countries_chart' %>

  <h1>Countries</h1>

<%= form_tag visit_countries_path, :method => :put, :remote => true do %>
  <table>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th><%= submit_tag "Visit" %></th>
    </tr>

  <% @countries.each do |country| %>
    <%= render 'country_row', :country => country %>
  <% end %>
  </table>
<% end -%>
</section>